<form action='/searchResults' method='post'>
  <label for='CD-search'>Enter name of artist:</label>
  <input id='CD-search' name='CD-search' type='text'>
  <button type='submit'>Search for CD</button>
</form>
